*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    font-family: 'Smokum', Arial;
    overflow: hidden;
    background-color: #c82935;
}
header img{
    height: 100%;
    object-fit: cover;
}
header h1{
    font-size: 100px;
    color: #ee9902;
}

main{
    height: calc(100vh - 200px);
    background-color: #131514;
}

main aside{
    width: 20%;
}

main aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .center {
    overflow-y: auto;
}
/*Card*/
.center .my_card{
    background-color: #c82935;
    height: 100%;
}

.center .my_card .info-card{
    color: #ee9902;
}

/*scroolbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #131514;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c82935;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ee9902;
}